<div class="panel panel-default">
  <div class="panel-heading" id="painel_list"><div class="text-center">Tipo Armazenamento</div></div>
    <div class="panel-body">
    <p id="notice"><%= notice %></p>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
             <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
               Descrição
          </th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @tipoarmazenamentos.each do |tipoarmazenamento| %>
          <tr>
            <td><%= tipoarmazenamento.descricao %></td>
            <td><%= link_to 'Mostrar', tipoarmazenamento %></td>
            <td><%= link_to 'Editar', edit_tipoarmazenamento_path(tipoarmazenamento) %></td>
            <td><%= link_to 'Deletar', tipoarmazenamento, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <div class="text-center"> <%= link_to 'Novo Tipo de Armazenamento', new_tipoarmazenamento_path, {:style=>'color:black;', :class => "btn btn-default"} %> </div>
    
    
  </div>
</div>